@model Account;
@{
    ViewData["Title"] = "Sign Up Page";
}

<a class="btn justify-content-start" style="text-decoration: none; color: white; background-color: green; " asp-controller="Home" asp-action="Index">Back</a>
<form method="post">
    <div class="text-start">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 style="color:saddlebrown;">Sign Up</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label class="col-sm-2 col-form-label text-end">Name:</label>
                <input asp-for="Name" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="col-sm-2 col-form-label text-end">Mail:</label>
                <input asp-for="Mail" type="text" class="form-control">
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="col-sm-2 col-form-label text-end">Pass:</label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div>
            <button type="submit" class="btn" style="color: white; background-color: blue; text-decoration: none">SignUp</button>
        </div>
    </div>
</form>


